/* место для вашего кода */
.header {
  width: 100%;
  height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  padding: 0 50px;

}

.header__menu {
  justify-self: start;
}


.header__links-list {
  display: flex;

  gap: 36px;
  list-style: circle;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;

  line-height: 100%;
  letter-spacing: normal;

}

.header__links-list li:first-child {
  list-style-type: none;
}

.header__links-list .header__links-list-item-active a {
  text-decoration: none;

}

.header__logo {
  width: 148px;


}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  align-items: flex-start;
  padding-right: 30px;


  font-family: Raleway;
  font-weight: 400;

  font-size: 18px;

  line-height: 24.3px;
  letter-spacing: normal;


}

address {
  font-style: normal !important;

}

.cover {
  width: 100%;
  height: 757px;
  position: relative;

}


.cover__img {


  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  width: 100%;
  height: 100%;
}

.cover__content {
  z-index: 3;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 306px;
  grid-template-rows: 656px auto;
  gap: 10px;
  width: 100%;
}

.cover__title {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
  width: 100%;
  height: 656px;
  padding: 165px 50px 106px 50px;
  box-sizing: border-box;
  gap: 20px;
}

.cover__title span {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 0.3em;
  margin-right: -0.3em;
  text-transform: uppercase;
  color: #FFFFFF;

}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  width: 100%;
  font-weight: 400;

  font-size: 22px;
  color: #FFFFFF;
  line-height: 28px;
  letter-spacing: normal;
  text-transform: uppercase;
  padding: 0 147px 50px 50px;
  text-align-last: justify;
  hyphens: auto;
}


.bet-button {
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;


  background: transparent;
  border: 1px solid #FFFFFF;

  padding: 11.5px 33px;
  cursor: pointer;
}

.lots {
  width: 100%;
  height: 903px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 180px;
  box-sizing: border-box;
}

.lots__heading {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  padding-left: 40px;
  padding-bottom: 28px;
  line-height: 100%;
  letter-spacing: normal;
  text-transform: uppercase;

}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.lot-card {
  height: 100%;
}

.lots__look-more-link {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: normal;
  padding-top: 35px;
  padding-left: 35px;
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 1;

}

.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_header_syle {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: normal;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #FFFFFF;
  align-items: flex-start;
  padding: 48px 40px 0px;
  z-index: 3;
}

.card__text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 120%;
  letter-spacing: 0%;
  align-items: flex-end;
  padding: 0px 40px 48px;
  z-index: 3;
}

.about {
  width: 100%;
  height: 715px;
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 275px 1fr;
  padding: 140px 24px 0px;
  grid-template-areas:
    "about__logo about__title"
    ". about__text";
}


.about__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

.about__logo {
  grid-area: about__logo;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.about__logo-image {
  background-image: url("/images/logo-white.svg");
  width: 141.54px;
  height: 112.55px;
  background-repeat: no-repeat;
}

.about__title {
  grid-area: about__title;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: normal;
  text-transform: uppercase;
  align-items: center;
  padding-left: 30px;
  justify-self: center;

}

.about__text {
  grid-area: about__text;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: normal;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 30px;
  padding-bottom: 50px;
}

.footer {
  width: 100%;
  height: 360px;
  padding-top: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  ;
  justify-items: center;

}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  flex-direction: row;
}

.footer__social-icon {
  width: 48px;
  height: 48px;

}

.footer__menu-list {

  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-list .footer__menu-link_active a {
  text-decoration: none;

}