/* место для вашего кода */
.header {
  width: 100%;
  height: 293px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  padding: 50px 0;
}

.header-menu-list {
  display: flex;
  gap: 26px;
  list-style: circle;
  padding: 0;
  margin: 0;
  font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 18px;

line-height: 100%;
letter-spacing: normal;

}

.header-menu-list li:first-child {
  list-style-type: none;
}

.header-menu-list .header-menu-item-active a {
  text-decoration: none;

}

.address {
  width: 240px;
 /* height: 385px;*/
  justify-self: end;
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 18px;

line-height: 24.3px;
letter-spacing: normal;

}

.cover {
  width: 100%;
  height: 757px;
  background-image: url("/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.cover-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-columns: 1fr 306px;
  grid-template-rows: auto auto;
  gap: 10px;
}

.main_header {
  grid-column: 1 / 3;
  width: 100%;
  height: 656px;
  padding: 165px 50px 106px;
  box-sizing: border-box;
}

.main_header span {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.span-text-left {
  text-align: left;
}

.span-text-center {
  text-align: center;
}

.span-text-right {
  text-align: right;
}

.description {
  width: 100%;
font-weight: 400;
font-style: Regular;
font-size: 22px;
color: #FFFFFF;
line-height: 28px;
letter-spacing: normal;
text-transform: uppercase;
padding: 0 147px 50px 50px;
text-align-last: justify;
hyphens: auto;
}
.button-item {
 /* position: relative;*/
}

.my-button {
font-weight: 500;
font-style: Medium;
font-size: 22px;
line-height: 100%;
letter-spacing: normal;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
/*padding: 0 50px 50px 50px;*/
/*position: absolute;*/
 /* bottom: 16px;  /* отступ снизу */
  /*right: 16px;   /* отступ сбоку */

  background: transparent;
  border: 1px solid #FFFFFF;

  padding: 11.5px 33px;
  cursor: pointer;
}

.lots {
  width: 100%;
  height: 903px;  
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 180px;
  box-sizing: border-box;
}

.lots__heading {
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 40px;
padding-left: 40px;
line-height: 100%;
letter-spacing: normal;
text-transform: uppercase;

}
.lots__card-list
{display: flex;
  flex-direction: row;
  justify-content: center;
 gap: 25px;
   flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
 
}
.lots__card-list-item {
  width:334px ;
  min-height: 596px;
}

.lot-card{
height:100%;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  height:100%;
 
}

.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card_header_syle {
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 22px;
line-height: 120%;
letter-spacing: normal;
text-transform: uppercase;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;
color: #FFFFFF;
align-items: flex-start; 
padding: 48px 40px 0px;
}
.card__text {
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 20px;
color: #FFFFFF;
line-height: 120%;
letter-spacing: 0%;
align-items: flex-end; 
padding: 0px 40px 48px;
}

.about{
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: auto auto;
  padding: 120px 24px 0px;
  grid-template-areas: 
  "about__logo about__title"
  ". about__text";
}
.about__column {
 display: flex;
  
  align-items: center;
}

.about__logo {
  grid-area: about__logo;
  width: 240px;          /* фиксированная ширина */
  height: 240px;         /* фиксированная высота */
  background-color: #000;
  border-radius: 50%;   /* делает контейнер круглым */

  display: flex;        /* центрирование логотипа */
  align-items: center;
  justify-content: center;
}
.about__logo-image {
  background-image: url("/images/logo-white.svg");
  width: 148px;
  height: 114px;
  background-repeat: no-repeat;
}
.about__title {
  grid-area: about__title;
  font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 40px;
line-height: 100%;
letter-spacing: normal;
text-transform: uppercase;
align-items: center;

}
.about__text {
  grid-area: about__text;
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 24px;
letter-spacing: normal;
display: flex;
flex-direction: column;
gap: 24px ;
}
.footer {
  width: 100%;
  height: 180px;
  padding-top: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;;
  justify-items: center;
  
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  flex-direction: row;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
 
}
.footer__menu-list {

  list-style: none;
}

.footer__menu-list-item
{
  text-align: center;
}

.footer__menu-list .footer__menu-link_active a {
  text-decoration: none;

}
