/* место для вашего кода */
.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  padding: 90px 50px 93px 50px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: normal;
  text-underline-offset: 3px;
}

.header__links-list li:first-child {
  list-style-type: none;
}

.header__links-list-item-active {
  text-decoration: none;
}

.header__logo {
  width: 136px;
  padding: 2px 0px 0px 0px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  align-items: flex-start;
  padding-right: 36px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35em;
  letter-spacing: normal;
  text-underline-offset: 3px;
}

address {
  font-style: normal;
}

.cover {
  width: 100%;
  min-height: 757px;
  position: relative;
}

.cover__img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  z-index: -2;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  width: 100%;
  height: 100%;
}

.cover__content {
  display: grid;
  grid-template-columns: 1fr 306px;
  grid-template-rows: auto auto;
  gap: 0px;
  width: 100%;
}

.cover__title {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
  width: 100%;
  padding: 165px 50px 106px 50px;
  gap: 22px;
}

.cover__title span {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 0.3em;
  margin-right: -0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  width: 100%;
  font-weight: 400;
  word-spacing: 18px;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 28px;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  padding: 10px 100px 50px 50px;
}

.bet-button {
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: normal;
  text-align: сenter;
  text-transform: uppercase;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  justify-self: start;
  align-self: start;
  width: 258px;
  height: 50px;
}

.lots {
  width: 100%;
  padding: 184px 24px 0px;
}

.lots__heading {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  padding-left: 40px;
  padding-bottom: 28px;
  line-height: 100%;
  letter-spacing: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}


.lots__look-more-link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: normal;
  padding-top: 34px;
  padding-left: 40px;
  display: block;
  text-underline-offset: 3px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card_header_syle {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: normal;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #FFFFFF;
  align-items: flex-start;
  padding: 48px 40px 0px;
  text-underline-offset: 3px;
}

.card__text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 120%;
  letter-spacing: 0%;
  align-items: flex-end;
  padding: 0px 40px 48px;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: auto auto;
  padding: 158px 24px 0px;
  grid-template-areas:
    "about__logo about__title"
    ". about__text";
}

.about__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.about__logo {
  grid-area: about__logo;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.about__logo-image {
  background-image: url("../images/logo-white.svg");
  width: 148px;
  height: 118px;
  background-repeat: no-repeat;
}

.about__title {
  grid-area: about__title;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: normal;
  text-transform: uppercase;
  align-items: center;
  padding-left: 26px;
  justify-self: center;
}

.about__text {
  grid-area: about__text;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: normal;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 5px 3px 50px 25px;
}

.footer {
  width: 100%;
  padding-top: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.address__footer {
  display: flex;
  flex-direction: column;
  justify-self: start;
  max-width: 340px;
  align-items: flex-start;
  padding-right: 36px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35em;
  letter-spacing: 0.005em;
  text-underline-offset: 4px;
  padding-left: 50px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  flex-direction: row;
  padding-left: 22px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__menu {
  padding-top: 3px;
}

.footer__menu-list {
  letter-spacing: 0.075em;
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
  text-underline-offset: 4px;
  line-height: 1.35em;
}

.footer__menu-link_active {
  text-decoration: none;
}
